* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0%;
}

h2, h3 {
    color: #3b4240;
}

p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    text-indent: 2em;
}

.card {
    box-shadow: 0 4px 8px 0 #3b4240;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

#letter-spacing {
    letter-spacing: 4px;
}

header {
    display: inline;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-image: url(../img/header.jpg);
    text-align: center;
    color: #3b4240;
    background-attachment: fixed;
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

nav {
    background-color: #3b4240;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    font-weight: bold;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

main {
    padding: 20px;
    overflow: auto;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    transition: transform .2s;
    border-radius: 5px;
}

.featured-image:hover {
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}

aside {
    float: right;
    width: 30%;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #3b4240;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.content {
    float: left;
    width: 70%;
    padding: 10px;
}

.profile {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .content,
    aside {
        width: 100%;
        padding: 0;
    }
}